html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #ffffff;
    color: #2b2b2b;
    transition: background-color 0.3s, color 0.3s;
}

section {
    scroll-margin-top: 66px;
}

.bg-light-custom {
    background-color: #fcf9f5;
}

.bg-secondary-custom {
    background-color: #2c2520;
}